$clr-primary: #055266;
$clr-primary-light: #18748b;
$clr-primary-extra-light: #e1e8f0;
$clr-dark: #171717;
$clr-gray: #7e869e;
$clr-white: #ffffff;
$clr-crimson: crimson;
$primary-gradient: linear-gradient(to right, $clr-primary-light, $clr-primary);
